<mat-card>
  <mat-card-title>{{data.modalTitle}}</mat-card-title>

  <mat-card-content>
    <mat-selection-list>
      <mat-list-option *ngFor="let o of data.options"
                       (click)="check(o)"
                       [selected]="o.selected">
        {{o.label}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="validSelection()">{{'modal.valid' | transloco}}</button>
    <button mat-raised-button (click)="cancel()">{{'modal.cancel' | transloco}}</button>
  </mat-card-actions>


</mat-card>


